:root {
  --primary-color: #000000;
  --secondary-color: #171717;
  --text-color: #444444;
  --bg-color: #ffffff;
  --cursor-color: #999999;
  
  /* Шрифты будут инжектиться через Next.js Font Optimization */
  --font-basis: sans-serif; 
}

/* Базовый сброс и настройки */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent; /* Убирает синюю подсветку на тач-устройствах */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-basis);
  color: var(--text-color);
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  cursor: none !important;
}

/* Скрываем курсор на всех интерактивных элементах */
button, input, textarea, .cursor-pointer {
  cursor: none !important;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none !important; /* Дублируем для надежности */
}

ul, ol {
  list-style: none;
}

#ball {
  pointer-events: none;
}

/* Утилиты для скрытия скроллбара */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Класс для контейнера плавного скролла */
.smooth-scroll {
  overflow: hidden;
  height: 100%;
}

/* --- Lenis Scroll (Обязательные стили для плавного скролла) --- */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
